<div class="banner-and-avatar">
    <div id="banner"></div>
    <img class="avatar" src="./images/avatar.png" alt="Avatar">
</div>
</div>

<div class="profile-section">
    <form class="form new-pet-form">
        <div class="add-pet-section">
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add A Pet for Adoption</h3>

            <div class="form-outline mb-4">
                <label class="form-label" for="pet-name">Pet Name:</label>
                <input type="name" id="pet-name" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="pet-age">Age:</label>
                <input type="age" id="pet-age" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="pet-breed">Breed:</label>
                <input type="breed" id="pet-breed" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">Type:</label>
                <select id="pet-type" class="form-select form-select-lg" aria-label=".form-select-sm example">
                    <option selected>Select</option>
                    <option value="Dog">Dog &#128021<i class="fas fa-dog"></i></option>
                    <option value="Cat">Cat &#128008<i class="fa-solid fa-cat"></i></option>
                </select>
            </div>

            <div class="form-outline mb-4">
                <label class="form-label">Gender:</label>
                <select id="pet-gender" class="form-select form-select-lg" aria-label=".form-select-sm example">
                    <option selected>Select</option>
                    <option value="Male">Male &#9794<i class="fa-solid fa-mars"></i></option>
                    <option value="Female">Female &#9792<i class="fa-solid fa-venus"></i></option>
                </select>
            </div>

            <div class="form-outline mb-4">
                <div class="form-outline mb-4">
                    <label class="form-label" for="pet-description">Description:</label>
                    <input type="description" id="pet-description" class="description form-control form-control-lg" />
                </div>
            </div>

            <div class="form-outline mb-4">
                <div class="form-outline mb-4">
                    <label id="pet-photo-label" class="form-label" for="pet-photo">Photo:</label>
                    {{!-- <br><img id="myImg" src="#"> --}}
                </div>
                <input type='file' />
            </div>



            <div class="pt-1 mb-4">
                <button class="btn btn-primary my-2 btn-info" type="btn submit">Add Pet</button>
            </div>
        </div>
    </form>

    <div class="pet-list pet-list-section">
        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">My Adopted Pets</h3>
        <ul class="pet-list">
            {{#each pets as |pet|}}
            <li>
                {{> pets-list-profile pet}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<footer>
    <p class="footer"><i class="fa-solid fa-paw"></i></p>
</footer>

<script src="/js/profile.js"></script>