<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-white">

                <div class="px-5 ms-xl-4">
                    <nav class="navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="/">
                            <i class="fa-solid fa-shield-dog fa-2x me-2 pt-5 mt-xl-4"></i>
                            <span class="h1 fw-bold mb-0">Rescue Pets</span>
                        </a>
                    </nav>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Become a member.</h3>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="name-signup">Username:</label>
                            <input type="name" id="name-signup" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="email-signup">Email address:</label>
                            <input type="email" id="email-signup" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password-signup">Password:</label>
                            <input type="password" id="password-signup" class="form-control form-control-lg" />
                        </div>

                        <div class="pt-1 mb-4">
<<<<<<< HEAD
                            <button class="btn btn-info btn-lg btn-block" type="submit">Sign Up</button>
=======
                            <button class="btn btn-info btn-lg btn-block" type="btn submit">Sign Up</button>
>>>>>>> 304ed0318214f5616943ab3657da8d72860bccc6
                        </div>

                        <p>Already member? <a href="\signin" class="link-info">Sign In</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="./images/cat-dog-sleeping.png" alt="Login image" class="w-100 vh-100"
                    style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>

<script src="/js/signup.js"></script>