<section class="vh-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-white">

                <div class="px-5 ms-xl-4">
                    <nav class="navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="/">
                            <i class="fa-solid fa-shield-dog fa-2x me-2 pt-5 mt-xl-4"></i>
                            <span class="h1 fw-bold mb-0">Rescue Pets</span>
                        </a>
                    </nav>
                </div>

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

                    <form class="form signin-form" style="width: 23rem;">

                        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Login to your account.</h3>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="email-signin">Username:</label>
                            <input type="email" id="email-signin" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password-signin">Password:</label>
                            <input type="password" id="password-signin" class="form-control form-control-lg" />
                        </div>

                        <div class="pt-1 mb-4">
                            <button class="btn btn-info btn-lg btn-block" type="button">Sign In</button>
                        </div>

                        <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>
                        <p>Not a member? <a href="/signup" class="link-info">Create Account</a></p>

                    </form>

                </div>

            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="./images/cat-dog-standing.png" alt="Login image" class="w-100 vh-100"
                    style="object-fit: cover; object-position: left;">
            </div>
        </div>
    </div>
</section>

<script src="../public/js/signin.js"></script>