body {
  background-color: #212529;
  color: white;
}

.navbar {
  padding-left: 2vw;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}

.btn {
  background-color: #0dcaf0;
  color: black;
}

.nav-link {
  color: white;
}

.form-inline {
  display: flex;
  margin-right: 2vw;
  max-height: fit-content;
}

#search-bar {
  margin: 1vw 2vw 1vw 2vw;
}

#banner {
  margin-bottom: 30px;
  height: 50vh;
  width: 100%;
  background: url('./images/catdog.webp') no-repeat center;
  background-size: cover;
}

.card {
  flex-direction: row;
  align-items: center;
  margin: 2vw;
}

.card-title {
  font-weight: bold;
}

.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}



@media only screen and (max-width: 768px) {

  .card-body {
    padding: 0.5em 1.2em;
  }

  .card-body .card-text {
    margin: 0;
  }

  .card img {
    width: 50%;
  }

  .fw-bold {
    display: flex;
  }
}

@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}

/* Log In Page */
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

.about-section {
  color: white;
  text-align: center;
  margin: 5vw 10vw 5vw 10vw;
}

.header {
  color: #0dcaf0;
  margin: 2vw;
}

.paragraph {
  text-align: left;
}

.avatar {
  width: 18vw;
  left: -0.2vw;
  top: -13vw;
  position: relative;
}

.banner-and-avatar {
  text-align: center;
  height: 55vh;
}

.add-pet-section {
  margin: 5vw;
  padding-right: 5vw;
  width: 45.2vw;
  border-right: 0.5vw solid;
}

.pet-list-section {
  margin: 5vw 0vw 5vw 0vw;
  padding-right: 5vw;
  width: 45.2vw;
}

.profile-section {
  display: flex;
}

.footer {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 2vw;
}

.fa-paw:before {
  content: "\f1b0";
  position: relative;
  top: -3vh;
  font-size: x-large;
}

.description {
  height: 15vh;
}

#signout {
  cursor: pointer;
}

/* .form-select{
  margin: 1vw 0vw 1vw 0vw;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 
@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
} */

#pet-photo-label{
  margin-bottom: 0vw;
}